# Build artifacts
/bin
/obj

# NuGet packages
/packages/

# Temporary files
*.tmp
*.user
*.suo

# Visual Studio Code specific
.vscode/

# Testing
/testresults/

# Secret files (add your own!)
**.secrets
*.pfx

# EF Migrations backup (if applicable)
/Migrations.backup/